.navbar {
	width: 200px;
	background-color: orangered;
	flex: 1;

	.nav {
		&-links {
			text-decoration: none;
			color: black;
			cursor: pointer;

			&:hover {
				text-decoration: none;
				color: gray;
			}
		}

		&-item {
			list-style: none;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
