$primary-color: #f6ab8f;
$secondary-color: #cde3c1;
$tertiary-color: #f1eece;
$plain-color: #fffaf0;
$white-color: #fff;
$dark-color: #333;

$dark-color-green: rgb(29, 56, 31);

$heading-color: #ff8b61;
