* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; //1rem = 10px ==> 10px/16px = 62.5%
}

body {
	background-color: $secondary-color;
}

.container {
	width: 80%;
	margin: 1rem auto;
	text-align: center;
	background-color: $white-color;
}

.flex-container {
	display: flex;
}

.body-section {
	flex: 5;
	background-color: $plain-color;
	padding: 3rem 1rem;
	border: 2px solid #000;
}
