body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
}

.heading {
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
	color: $heading-color;

	&-primary {
		font-size: 3rem;
		line-height: 4rem;
		margin-bottom: 1.6rem;
	}

	&-secondary {
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 1.6rem;
	}

	&-underline {
		border-bottom: 2px solid darken($tertiary-color, 20%);
		width: 10rem;
		margin: 3rem auto 2rem auto;
	}
}

p {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

.primary-text {
	color: $primary-color;
}

.secondary-text {
	color: darken($secondary-color, 25%);
}

.tertiary-text {
	color: darken($tertiary-color, 30%);
}

.dark-text {
	color: $dark-color;
}

.danger-text {
	color: $danger-color;
	font-weight: bold;
}

.underline {
	width: 16rem;
	height: 0.25rem;
	background: lightblue;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	margin-top: 1.5rem;
}
