@import '../../../style/abstracts/variables';

.store {
	&-list {
		margin-top: 5rem;
	}

	&-item {
		list-style: none;
		font-size: 2rem;
		font-weight: 500;
		padding: 0.8rem;
		color: darken($dark-green-text, 20%);
	}

	&-icon {
		margin-right: 1rem;
		margin-bottom: -0.2rem;
	}

	.link {
		transition: all .15s;

		&:link,
		&:visited {
			font-size: inherit;
			color: darken($dark-green-text, 20%);
		}

		&:hover,
		&:active {
			color: darken($dark-green-text, 30%);
		}
	}
}
