.horticulture {
    &-img {

    }

    &-notes {
        margin-top: 4rem;
    }

    &-item {
        list-style: none;
        font-size: 1.9rem;
        font-weight: 500;
        padding: .3rem;
    }
}