@import '../../../style/abstracts/variables';

.newsletters {
    background-color: $plain-color;

    &-item {
        padding: .5rem;
        font-size: 1.8rem;
    }

    &-link {
        transition: all .1s;

        &:link,
		&:visited {
			color: darken($dark-green-text, 20%);
		}

		&:hover,
		&:active {
			color: darken($dark-green-text, 30%);
		}
    }
}