.navbar {
    width: 200px;
    background-color: orangered;
    flex: 1;
}

.nav-links {
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}

.nav-links:hover {
    text-decoration: none;
    color: gray;
}

.nav-item {
    list-style: none;
}

.nav-item:hover {
    transform: scale(1.1);
}

